*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: url(img/fondo.png);
    background-size: cover;
    background-attachment: fixed;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background-color: #FBF7FC;
    margin-top: 150px;
    padding: 3px;
}
h1{
    text-align: center;
    color: #1a2537;
    font-family: 'Arima Madurai', cursive;
    font-weight: 600;
    font-size: 40px;
}
input[type="text"],
input[type="password"]{
    font-family: 'Signika Negative', sans-serif;
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
p{
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.btRegistro{
    font-family: 'Signika Negative', sans-serif;
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.btRegistro:hover{
    background: #079F7B;
}
.login{
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}
.login:hover{
    color: cadetblue;
}
@media(min-width:768px){
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 5px;
    }
}