*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: url(img/fondo1.png);
    background-size: cover;
    background-attachment: fixed;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background-color: #1a2537;
    margin-top: 150px;
    padding: 3px;
    border: 2px solid #1d2e4b;
}
h1{
    text-align: center;
    color: #FBF7FC;
    font-family: 'Arima Madurai', cursive;
    font-weight: 600;
    font-size: 40px;
}
input[type="text"],
input[type="password"]{
    font-family: 'Signika Negative', sans-serif;
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
    background-color: #1a2537;
    color: rgb(247, 226, 186);
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #1d2e4b;
}
p{
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(247, 226, 186);
    margin-top: 5px;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: rgb(165, 156, 140);
}
.btRegistro{
    font-family: 'Signika Negative', sans-serif;
    border: none;
    width: 100%;
    color: #1a2537;
    font-size: 20px;
    background: #bccdd4;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.btRegistro:hover{
    background: #079F7B;
}
.login{
    text-decoration: none;
    color: #bccdd4;
    font-weight: 600;
    margin-left: 10px;
}
.login:hover{
    color: #5f9ea0;
}

@media(min-width:768px){
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 5px;
    }
}